NEXT_PUBLIC_JWT_EXPIRATION= 5m
NEXT_PUBLIC_JWT_SECRET= dd5f3089-40c3-403d-af14-d0c228b05cb4
NEXT_PUBLIC_JWT_REFRESH_TOKEN_SECRET= 7c4c1c50-3230-45bf-9eae-c9b2e401c767
MONGODB_URI=mongodb://127.0.0.1:27017/news
CLOUDINARY_CLOUD_NAME=dx0tk0a56
CLOUDINARY_API_KEY=761656761517829
CLOUDINARY_API_SECRET=aYBGKP1yETt8AKTfzQ0FPPctrK0
CLOUDINARY_ENVIRONMENT_VARIABLE=CLOUDINARY_URL=cloudinary://761656761517829:aYBGKP1yETt8AKTfzQ0FPPctrK0@dx0tk0a56

WEBSITE_URL= https://sd4wd62q-3001.inc1.devtunnels.ms
BASE_URL =https://sd4wd62q-3000.inc1.devtunnels.ms
ADMIN_ID= 678b807783d35b106907a912
